<header class="navbar">
  <div class="container">
    <%= link_to "Simply", root_path, id: "logo" %>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Help", help_path %>
      <%= link_to "Log in", '#' %>
    </nav>
  </div>
</header>
